name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17' # Ha 1.20.4-re fejlesztesz, a 17 a minimum
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B clean package

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: LavaCrates-Plugin
        path: target/LavaCrates-*.jar
